* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Yrsa', serif; }

.color1 {
  color: #b40404; }

.color2 {
  color: #fc7d7d; }

.color3 {
  color: #950303; }

.color4 {
  color: #CAEBF2; }

.color5 {
  color: #A9A9A9; }

.color6 {
  color: #EFEFEF; }

body {
  display: grid;
  grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  grid-template-rows: 1fr; }

header, footer {
  background-color: #EFEFEF; }

main {
  grid-area: main; }

.header {
  border-bottom: 1vh #A9A9A9 solid;
  padding-top: 1vh;
  grid-area: nav; }

.nav {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.nav__logo {
  display: flex;
  flex-direction: column; }

.nav__logo a {
  display: block;
  align-self: center;
  justify-self: center;
  text-align: center; }

.nav__logo img {
  height: 3.5vw; }

.nav__logo img:hover {
  transform: scale(120%); }

.nav__logo h1 {
  display: inline-block;
  font-size: 1.1vw;
  font-family: "Hind Madurai", sans-serif;
  width: max-content; }

.nav__ul {
  display: flex;
  justify-items: space-between; }

.nav__ul li {
  list-style: none;
  display: block;
  margin: 0 1.3em;
  text-decoration: none;
  font-size: 2vw;
  position: relative;
  font-family: 'Roboto', sans-serif; }

.nav__ul li::before {
  content: "";
  height: 2px;
  width: 0%;
  background-image: linear-gradient(to right, #8f0505, #ff0303);
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.8s ease-out; }

.nav__ul li a {
  text-decoration: none;
  color: black;
  display: inline-flex;
  width: max-content; }

.nav__ul li:hover::before {
  width: 100%; }

.boton-contactar {
  width: 12vw;
  height: 3vw;
  font-size: 2.2vw;
  border-radius: 2.5vw;
  background-color: #CAEBF2;
  cursor: pointer;
  background-position: left;
  transition: all 2s; }

.boton-contactar:hover {
  transform: scale(1.2);
  background-image: linear-gradient(to right, #72c6d1, #8f0505, #ff0303);
  background-size: 300%;
  background-position: right;
  color: #A9A9A9; }

.boton-contactar:active {
  transform: translate(10px); }

.hamburguesa {
  display: none; }

.section_one__div {
  display: flex;
  border-bottom: 8px #A9A9A9 solid; }

.section_one__img {
  width: 100%;
  position: relative;
  background-size: cover;
  transition: background-position 4s;
  z-index: 3; }

.section_one__img:hover {
  background-image: url("../img/nuevos_posibles_fondos/logo_fondo_flecha.png");
  background-position-x: 24vw;
  z-index: 4; }

.section_one__h2 {
  position: absolute;
  top: 25%;
  left: 9%;
  font-size: 3vw;
  font-family: "Hind Madurai", sans-serif;
  z-index: 9;
  transition: text-shadow 2s; }

.section_one__h2:hover {
  text-shadow: .1rem -.1rem .1rem #b40404; }

/* AQUI TERMINA SECTION ONE */
/* AQUI EMPIEZA SECTION TWO */
.section_two {
  background: linear-gradient(95deg, #CAEBF2, #EFEFEF);
  padding-bottom: 5em; }

.section_two__div_one {
  display: flex;
  height: 20vw;
  align-items: center; }

.section_two__div_one--h2 {
  font-size: 4em;
  background: linear-gradient(95deg, #740000, #B30000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10%;
  left: 10%;
  font-family: 'Roboto', sans-serif; }

.section_two__div_two {
  width: 90%;
  margin: auto;
  display: flex;
  border-top: 1vw solid;
  padding-top: 2em;
  justify-content: space-around;
  font-size: 3.5vw;
  list-style-type: none; }

.section_two__div_two--subul {
  font-size: .4em;
  margin-top: 2em;
  line-height: 2;
  list-style-type: disc; }

ol li::marker {
  color: transparent; }

.section_two__div_two--subul ::marker {
  color: #B273E6;
  font-size: 100%; }

.botondos {
  display: flex;
  justify-content: center;
  align-items: end; }

.boton-contactar2 {
  width: 50vw;
  height: 3vw;
  font-size: 2.2vw;
  border-radius: 2.5vw;
  background-color: #A9A9A9;
  cursor: pointer;
  background-position: left;
  transition: all 2s;
  text-shadow: .1rem -.1rem .1rem  #000000;
  color: white; }

.boton-contactar2:hover {
  transform: scale(1.2);
  background-image: linear-gradient(to right, #72c6d1, #8f0505, #ff0303);
  background-size: 300%;
  background-position: right;
  color: #ffffff; }

.boton-contactar2:active {
  transform: translate(10px); }

footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  grid-area: footer;
  align-items: center; }

footer h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  padding: 5em 0;
  max-width: 60%; }

footer div {
  width: 10em;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  align-items: center; }

footer div a {
  height: 1em;
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center; }

footer div a img {
  height: 4em;
  width: 4em; }

.section-nosotros {
  display: flex;
  margin-bottom: 10px; }

.section-nosotros img {
  position: relative;
  width: 100%;
  opacity: 50%;
  background-color: lightsteelblue; }

.section-nosotros div {
  position: absolute;
  text-align: center;
  margin: 20% 20%;
  font-size: rem;
  color: #000000;
  text-shadow: .05rem -.05rem  #ffffff;
  display: grid;
  gap: 3rem; }

.section-nosotros div h1 {
  font-size: 5vw;
  box-shadow: .05rem -.05rem  #A9A9A9;
  border-radius: 15px; }

.section-nosotros h2 {
  font-size: 3.5vw;
  border-bottom: 4px solid;
  border-radius: 15px;
  box-shadow: .05rem -.05rem  #A9A9A9; }

/* AQUI TERMINA NOSOTROS SECTION 1 */
/* AQUI EMPIEZA NOSOTROS SECTION 2 */
.section-nosotros-dos {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #940403;
  text-shadow: .1rem -.1rem  #000000; }

.section-nosotros-dos img {
  max-width: 50%; }

.section-nosotros-dos div {
  margin: 25% 3%;
  font-size: 2vw;
  box-shadow: .05rem -.05rem  #A9A9A9;
  text-shadow: .1rem -.1rem  black;
  color: white; }

.section-porque-uno {
  display: grid;
  max-width: 600px;
  margin: auto;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  margin-top: 30px; }

.section-porque-uno h1 {
  max-width: 90%;
  margin: auto;
  text-align: center;
  text-decoration: underline; }

.section-porque-uno img {
  display: inline-block;
  justify-content: center; }

/* AQUI TERMINA SECTION 1 */
/* AQUI EMPIEZA SECTION 2 */
.section-5-art {
  margin: 60px auto;
  display: grid;
  gap: 2rem;
  text-shadow: .5px -.5px .0001rem white;
  max-width: 90%;
  font-size: 2vh; }

.section-5-art h2 {
  text-decoration: underline; }

.articulos {
  padding: 15px;
  border-radius: 15px; }

.section-5-art--1 {
  background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), url(../img/por_que/porque4.jpg) no-repeat center;
  background-size: cover; }

.section-5-art--2 {
  background-color: #EFEFEF; }

.section-5-art--3 {
  background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), url(../img/por_que/porque2.jpg) no-repeat center;
  background-size: cover; }

.section-5-art--4 {
  background-color: #EFEFEF; }

.section-5-art--5 {
  background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), url(../img/por_que/apalancamiento1.jpg) no-repeat center;
  background-size: cover; }

.main-precios {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CAEBF2;
  padding: 5%; }

.main-precios section {
  background: #fc7d7d;
  font-family: 'Roboto', sans-serif;
  width: 30vw;
  margin: 1vw;
  color: #EFEFEF; }

.precios-titulo {
  margin: 0;
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  padding: 10px;
  color: #A9A9A9; }

.one {
  background-color: #740000; }

.two {
  background-color: #950303; }

.three {
  background-color: #B30000; }

.primer-li span {
  display: block;
  font-size: 3em; }

.main-precios ul li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
  font-size: 2.3vh; }

.main-precios ul li a {
  text-decoration: none;
  color: black;
  background: white;
  font-size: 2.7vh;
  text-transform: uppercase;
  display: block;
  padding: 1.5vh;
  border-radius: 20px;
  transition: background-color 2s, font-size 3s; }

.main-precios ul li a:hover {
  background-color: #A9A9A9;
  color: white;
  font-size: 200%; }

@media screen and (max-width: 980px) {
  .section_two__div_two {
    display: block;
    font-size: 6vw; }
  .tutu, .sec {
    display: flex;
    justify-content: center;
    padding: 3vw; }
  .main-precios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
  .section_form form {
    width: 55%; } }

@media screen and (max-width: 926px) {
  .section_one__h2 {
    top: 16vw; }
  .section_two__div_one--h2 {
    font-size: 3.2em;
    margin-left: 10%; }
  .main-precios ul li {
    font-size: 2.5vh; }
  .main-precios section {
    width: 35vw;
    margin: 5vw; }
  .section_form form {
    width: 65%; } }

@media screen and (max-width: 799px) {
  .main-precios ul li {
    font-size: 2vh; }
  .section_form {
    grid-template-columns: 1fr; }
  .section_form form {
    grid-column-start: 1; }
  .section_form label, .section_form input, .section_form button, .section_form h2, .section_form h3 {
    font-size: 3vw; }
  .section_two__div_two--subul {
    font-size: .5em;
    margin-top: 2em;
    line-height: 2; }
  .boton-contactar2 {
    width: 55vw;
    height: 6vw;
    font-size: 4.2vw;
    border-radius: 2vw; } }

@media screen and (max-width: 720px) {
  .main-precios section {
    width: 40vw; }
  .nav__logo img {
    height: 5vw; }
  .nav__logo h1 {
    display: inline-block;
    font-size: 2.3vw;
    width: max-content; }
  .nav__ul {
    display: none; }
  .boton-contactar {
    display: none; }
  .section_one__h2 {
    top: 20vw; }
  .section_two__div_one--h2 {
    font-size: 7.2vw;
    margin-left: 10%;
    left: 10%; }
  footer div a img {
    height: 8vw;
    width: 8vw; }
  footer div {
    justify-items: space-evenly;
    max-width: 25%; }
  .hamburguesa {
    display: block; }
  .hamburguesa img {
    width: 3vh;
    height: 3vh; }
  .section-porque-uno img {
    width: 90%;
    margin: auto; } }

@media screen and (max-width: 620px) {
  .main-precios {
    grid-template-columns: 1fr; }
  .main-precios section {
    width: 60vw; }
  .main-precios ul li {
    font-size: 2.3vh; } }

@media screen and (max-width: 500px) {
  .main-precios section {
    width: 90vw;
    margin: 5vw; }
  .section_form label, .section_form input, .section_form button, .section_form h2, .section_form h3 {
    font-size: 4vw; } }

@media screen and (max-width: 426px) {
  .main-precios {
    grid-template-columns: 1fr;
    align-items: stretch;
    row-gap: 4vh; }
  .main-precios section {
    max-height: 70vh; }
  .hamburguesa img {
    width: 2.4vh;
    height: 2.4vh; }
  .main-precios ul li {
    font-size: 2.1vh; } }
