.link-one {
  margin: 0;
  text-align: center;
  font-size: 3.5vw;
  text-transform: uppercase;
  padding: 10px;
  color: #A9A9A9;
  background-color: #940403; }

.link-two {
  margin: 0;
  text-align: center;
  font-size: 3.5vw;
  text-transform: uppercase;
  padding: 10px;
  color: #A9A9A9;
  background-color: #A20000; }

.link-three {
  margin: 0;
  text-align: center;
  font-size: 3.5vw;
  text-transform: uppercase;
  padding: 10px;
  color: #A9A9A9;
  background-color: #b40404; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yrsa', serif; }

body {
  display: grid;
  grid-template-areas: "nav nav nav" "main main main" "footer footer footer";
  grid-template-rows: 1fr; }

header, footer {
  background-color: #EFEFEF; }

main {
  grid-area: main; }

.extendcontact, .section_form label, .section_form input {
  font-size: 4vh;
  max-width: 100%;
  max-height: 80%; }

.titles, .section_form h2, .section_form h3 {
  font-size: 2vw;
  text-shadow: 0.15rem -0.15rem 0.3rem #b40404;
  color: #ffffff; }

.whatsapp {
  position: fixed;
  bottom: 2.3vh;
  right: 2vw;
  border-radius: 50%;
  z-index: 799; }
  .whatsapp a img {
    width: 8.8vw;
    border-radius: 38%; }

.header {
  border-bottom: 1vh #A9A9A9 solid;
  padding-top: 1vh;
  grid-area: nav;
  min-height: 110px; }
  .header .nav {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .header .nav__logo {
      display: flex;
      flex-direction: column; }
      .header .nav__logo a {
        align-self: center; }
      .header .nav__logo img {
        height: 5.5vw;
        width: auto; }
        .header .nav__logo img:hover {
          transform: scale(120%); }
      .header .nav__logo h1 {
        font-size: 1.4vw;
        font-family: "Hind Madurai", sans-serif;
        width: max-content;
        z-index: 1002; }
    .header .nav__desktop {
      display: flex; }
      .header .nav__desktop li {
        list-style: none;
        margin: 0 1.3em;
        font-size: 2.4vw;
        position: relative;
        font-family: 'Roboto', sans-serif; }
        .header .nav__desktop li::before {
          content: "";
          height: 2px;
          width: 0%;
          background-image: linear-gradient(to right, #8f0505, #ff0303);
          position: absolute;
          left: 0;
          bottom: -2px;
          transition: 0.8s ease-out; }
        .header .nav__desktop li:hover::before {
          width: 100%; }
        .header .nav__desktop li a {
          text-decoration: none;
          color: #000000; }

.boton-contactar {
  width: 14vw;
  height: 4.2vw;
  font-size: 3.8vh;
  border-radius: 2.5vw;
  background-color: #CAEBF2;
  cursor: pointer;
  background-position: left;
  transition: all .3s;
  font-size: 3vw; }
  .boton-contactar:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to right, #CAEBF2, #940403, #b40404);
    background-size: 300%;
    background-position: right;
    color: #A9A9A9; }
  .boton-contactar:active {
    transform: translate(10px); }

.hamburguesa {
  display: none;
  position: relative;
  z-index: 100; }
  .hamburguesa:hover > ul {
    display: block; }
  .hamburguesa img {
    width: 4vh;
    height: 4vh; }
  .hamburguesa ul {
    display: none;
    position: absolute;
    right: 0;
    width: 50vw;
    border-radius: 10px;
    background-image: linear-gradient(to right, #940403, #A20000, #b40404); }
    .hamburguesa ul li {
      padding: 25px 0;
      text-align: center;
      list-style: none; }
      .hamburguesa ul li a {
        color: #ffffff;
        font-weight: bold;
        font-size: 150%; }
      .hamburguesa ul li:nth-child(even) {
        background-color: #a30403; }

.section_one__div {
  display: flex;
  border-bottom: 8px #A9A9A9 solid;
  position: relative; }

.section_one__img {
  width: 100%;
  position: relative;
  background-size: cover;
  transition: background-position 4s;
  z-index: 3; }
  .section_one__img:hover {
    background-image: url("../img/nuevos_posibles_fondos/logo_fondo_flecha.png");
    background-position-x: 24vw;
    z-index: 4; }

.section_one__h2 {
  position: absolute;
  top: 25%;
  left: 9%;
  font-size: 3vw;
  font-family: "Hind Madurai", sans-serif;
  z-index: 9;
  transition: text-shadow 2s; }
  .section_one__h2:hover {
    text-shadow: 0.5rem -0.5rem 0.3rem #b40404; }

/* AQUI TERMINA SECTION ONE */
/* AQUI EMPIEZA SECTION TWO */
.section_two {
  background: linear-gradient(95deg, #CAEBF2, #EFEFEF);
  padding-bottom: 5em; }
  .section_two__div_one {
    display: flex;
    height: 20vw;
    align-items: center; }
    .section_two__div_one--h2 {
      font-size: 4em;
      background: linear-gradient(to right, #000000, #940403, #A20000, #b40404);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: 10%;
      left: 10%;
      font-family: 'Roboto', sans-serif; }
  .section_two__div_two {
    width: 90%;
    margin: auto;
    display: flex;
    border-top: 1vw solid;
    padding-top: 2em;
    justify-content: space-around;
    font-size: 3.5vw;
    list-style-type: none; }
    .section_two__div_two--subul {
      font-size: .4em;
      margin-top: 2em;
      line-height: 2;
      list-style-type: disc; }
      .section_two__div_two--subul li::marker {
        color: #b40404;
        font-size: 150%; }

ol li::marker {
  color: transparent; }

.botondos {
  display: flex;
  justify-content: center;
  align-items: end; }

.boton-contactar2 {
  width: 50vw;
  height: 4.8vh;
  font-size: 3.8vh;
  border-radius: 2.5vw;
  background-color: #A9A9A9;
  cursor: pointer;
  background-position: left;
  transition: all .3s;
  color: #ffffff;
  text-shadow: 0.1rem -0.1rem 0.1rem #000000; }
  .boton-contactar2:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to right, #CAEBF2, #940403, #b40404);
    background-size: 300%;
    background-position: right;
    color: #A9A9A9; }
  .boton-contactar2:active {
    transform: translate(10px); }

footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  grid-area: footer;
  align-items: center; }
  footer h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    padding: 5em 0; }
  footer div {
    width: 10em;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    align-items: center; }
    footer div a {
      height: 1em;
      width: 1em;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer div a img {
        height: 4em;
        width: 4em;
        z-index: 800; }

.main-nosotros {
  background-color: #940403; }

.section-nosotros {
  display: flex;
  margin-bottom: 10px; }
  .section-nosotros img {
    position: relative;
    width: 100%;
    opacity: 30%; }
  .section-nosotros div {
    position: absolute;
    text-align: center;
    margin: 20% 20%;
    font-size: rem;
    color: #000000;
    text-shadow: 0.05rem -0.05rem #ffffff;
    display: grid;
    gap: 3rem; }
    .section-nosotros div h1 {
      font-size: 5vw;
      box-shadow: 0.05rem -0.05rem #A9A9A9;
      border-radius: 15px; }
    .section-nosotros div h2 {
      font-size: 3.5vw;
      border-bottom: 4px solid;
      border-radius: 15px;
      box-shadow: 0.05rem -0.05rem #A9A9A9; }

/* AQUI TERMINA NOSOTROS SECTION 1 */
/* AQUI EMPIEZA NOSOTROS SECTION 2 */
.section-nosotros-dos {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #940403;
  text-shadow: 0.1rem -0.1rem #000000; }
  .section-nosotros-dos img {
    max-width: 50%; }
  .section-nosotros-dos div {
    margin: 25% 3%;
    font-size: 2vw;
    box-shadow: 0.05rem -0.05rem #A9A9A9;
    text-shadow: 0.1rem -0.1rem #000000;
    color: #ffffff; }

.section-porque-uno {
  display: grid;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  margin-top: 30px;
  font-size: 130%; }
  .section-porque-uno h1 {
    max-width: 90%;
    margin: auto;
    text-align: center;
    text-decoration: underline; }
  .section-porque-uno img {
    display: inline-block;
    margin: auto; }

/* AQUI TERMINA SECTION 1 */
/* AQUI EMPIEZA SECTION 2 */
.section-5-art {
  margin: 60px auto;
  display: grid;
  gap: 2rem;
  text-shadow: 0.5px -0.5px 0.0001rem #ffffff;
  max-width: 90%;
  font-size: 2vh; }
  .section-5-art h2 {
    text-decoration: underline; }
  .section-5-art--1 {
    background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), url(../img/por_que/porque4.jpg), no-repeat center;
    background-size: cover; }
  .section-5-art--2 {
    background-color: #EFEFEF; }
  .section-5-art--3 {
    background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), url(../img/por_que/porque22.jpg), no-repeat center;
    background-size: cover; }
  .section-5-art--4 {
    background-color: #EFEFEF; }
  .section-5-art--5 {
    background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), url(../img/por_que/apalancamiento12.jpg), no-repeat center;
    background-size: cover; }

.articulos {
  padding: 15px;
  border-radius: 15px; }

.main-precios {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CAEBF2;
  padding: 5%;
  height: calc(100vh - 161px); }
  .main-precios section {
    background: #fc7d7d;
    font-family: 'Roboto', sans-serif;
    width: 26vw;
    margin: 1vw;
    color: #EFEFEF; }
    .main-precios section .primer-li span {
      display: block;
      font-size: 3.5vw; }
    .main-precios section ul li {
      list-style-type: none;
      text-align: center;
      border-bottom: 1px solid #000000;
      padding: 10px;
      font-size: 1.3vw; }
      .main-precios section ul li a {
        text-decoration: none;
        color: #000000;
        background: #ffffff;
        font-size: 1.7vw;
        text-transform: uppercase;
        display: block;
        padding: 1vh;
        border-radius: 20px;
        transition: background-color .3s, color .3s, font-size 1s; }
        .main-precios section ul li a:hover {
          background-color: #A9A9A9;
          color: #ffffff;
          font-size: 120%; }

.main_contacto {
  background: url(../img/nuevos_posibles_fondos/fondo1dim3_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  min-height: 80vh; }

.section_form {
  max-width: 1600px;
  margin: 15vh, auto; }
  .section_form form {
    margin: 10vh auto;
    border: 2px solid;
    border-radius: 30px;
    padding: 3vw;
    display: grid;
    gap: 1vh;
    width: 49%;
    max-height: 70%;
    height: 60vh; }
  .section_form input {
    min-height: 4vh;
    font-size: 3vh; }
  .section_form button {
    width: 100%;
    height: 4.5vh;
    font-size: 3.8vh;
    border-radius: 2.5vw;
    background-color: #EFEFEF;
    cursor: pointer;
    background-position: left;
    transition: all .3s;
    color: #000000; }
    .section_form button:hover {
      transform: scale(1.1);
      background-image: linear-gradient(to right, #CAEBF2, #940403, #b40404);
      background-size: 300%;
      background-position: right;
      color: #A9A9A9; }
    .section_form button:active {
      transform: translate(10px); }

@media screen and (max-width: 980px) {
  .section_two__div_two {
    display: block;
    font-size: 10vw;
    padding-top: 1vh; }
  .section_two__div_one--h2 {
    font-size: 9vw; }
  .tutu, .sec {
    display: flex;
    justify-content: center;
    padding: 3vw; }
  .main-precios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 5%;
    height: 100%; }
    .main-precios section {
      width: 36vw;
      margin: 4vw; }
      .main-precios section .primer-li span {
        font-size: 4vw; }
      .main-precios section ul li {
        font-size: 3.3vw; }
        .main-precios section ul li a {
          font-size: 2.7vw; }
  .section_form form {
    width: 55%; }
  .link-one {
    font-size: 6vw; }
  .link-two {
    font-size: 6vw; }
  .link-three {
    font-size: 6vw; } }

@media screen and (max-width: 926px) {
  .section_two__div_one--h2 {
    margin-left: 10%; }
  .main-precios ul li {
    font-size: 2.5vh; }
  .main-precios section {
    width: 35vw; }
  .section_form form {
    width: 65%; } }

@media screen and (max-width: 799px) {
  .main-precios ul li {
    font-size: 2vh; }
  .section_form {
    grid-template-columns: 1fr; }
  .section_form form {
    grid-column-start: 1; }
  .section_form label, .section_form input, .section_form button, .section_form h2, .section_form h3 {
    font-size: 3vw; }
  .section_two__div_two--subul {
    font-size: .5em;
    margin-top: 2em;
    line-height: 2; }
  .boton-contactar2 {
    width: 55vw;
    height: 6vw;
    font-size: 4.2vw;
    border-radius: 2vw; }
  .whatsapp a img {
    width: 11.8vw; } }

@media screen and (max-width: 720px) {
  .main-precios section {
    width: 40vw; }
  .header .nav__logo img {
    height: 7vw; }
  .header .nav__logo h1 {
    display: inline-block;
    font-size: 2.3vw;
    width: max-content; }
  .header .nav__desktop {
    display: none; }
  .boton-contactar {
    display: none; }
  .section_two__div_one--h2 {
    margin-left: 10%;
    left: 10%; }
  footer div a img {
    height: 8vw;
    width: 8vw; }
  footer div {
    justify-items: space-evenly;
    max-width: 25%; }
  .hamburguesa {
    display: block; }
  .section-porque-uno img {
    width: 90%;
    margin: auto; } }

@media screen and (max-width: 620px) {
  .main-precios {
    grid-template-columns: 1fr;
    padding: 5%; }
    .main-precios section {
      width: 65vw;
      margin: 3vw; }
      .main-precios section .primer-li span {
        font-size: 8vw; }
      .main-precios section ul li {
        font-size: 5.3vw; }
        .main-precios section ul li a {
          font-size: 3.7vw; }
    .main-precios .link-one {
      font-size: 8.5vw; }
    .main-precios .link-two {
      font-size: 8.5vw; }
    .main-precios .link-three {
      font-size: 8.5vw; }
  .whatsapp a img {
    width: 13.8vw; } }

@media screen and (max-width: 500px) {
  .header .nav__logo img {
    height: 10vw; }
  .header .nav__logo h1 {
    font-size: 3.3vw; }
  .main-precios section {
    width: 80vw;
    margin: 5vw; }
  .section_form label, .section_form button, .section_form h2, .section_form h3 {
    font-size: 4vw; } }

@media screen and (max-width: 426px) {
  .main-precios {
    grid-template-columns: 1fr;
    align-items: stretch;
    row-gap: 4vh; }
  .main-precios section {
    max-height: 70vh; }
  .main-precios ul li {
    font-size: 2.1vh; }
  .whatsapp a img {
    width: 14.8vw; } }
