.main_contacto {
    background: url(../img/nuevos_posibles_fondos/fondo1dim3_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 80vh;
}


.section_form {
    max-width: 1600px;
    margin: 15vh, auto;
    form {
        margin: 10vh auto;
        border: 2px solid;
        border-radius: 30px;
        padding: 3vw;
        display: grid;
        gap: 1vh;
        width: 49%;
        max-height: 70%;
        height: 60vh;
    }
    label {
        @extend .extendcontact;
    }
    h2, h3 {
        @extend .titles;
    }
    button {
        @include botero (100%, $cgrisin);
        @extend .titles;
        color: $cnegro;
    }
}

