footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    grid-area: footer;
    align-items: center;
    max-height: 50vh;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3vw;
        padding: 10vh 0;
        max-width: 65vw;
    }
    div {
        width: 12vw;
        display: flex;
        justify-content: space-around;
        padding: 1em 0;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 5vw;
                z-index: 800;
            }
        }
    }   
}
