* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yrsa', serif; 
}

body {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: 1fr;
}

header, footer {
    background-color: $cgrisin;
}


main {
    grid-area: main;
}

// MIXINS

@mixin botero($tama, $cfondo, $alto) {
    width: $tama;
    height: $alto;
    font-size: 2.8vh;
    border-radius: 2.5vw;
    background-color: $cfondo;  
    cursor: pointer;
    background-position: left;
    transition: all .3s;
    &:hover {
        transform: scale(1.1);
        background-image: linear-gradient(to right, $ccelestito , $clogo-bordo, $clogo-rojo);
        background-size: 300%;
        background-position: right;
        color: $cplata;
    }
    &:active {
        transform: translate(10px);
    }
}


@mixin artimagen($donde) {
    background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), $donde, no-repeat center;
    background-size: cover;
}

// EXTENDS
.extendcontact {
    font-size: 4vh;
    max-width: 100%;
    max-height: 80%;    
}

.titles {
    font-size: 2vw; 
    text-shadow: .15rem -.15rem .3rem $clogo-rojo;
    color: $cblanco;
}