* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Yrsa', serif; 
}

.color1 {color: #b40404;}
.color2 {color: #fc7d7d;} 
.color3 {color: #950303;}
.color4 {color: #CAEBF2;}
.color5 {color: #A9A9A9;}
.color6 {color: #EFEFEF;}

body {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: 1fr;
}

header, footer {
    background-color: #EFEFEF;
}


main {
    grid-area: main;
}

@mixin botero($tama, $cfondo) {
    width: $tama;
    height: 3vw;
    font-size: 2.2vw;
    border-radius: 2.5vw;
    background-color: $cfondo;
    cursor: pointer;
    background-position: left;
    transition: all 2s;
    &:hover {
        transform: scale(1.2);
        background-image: linear-gradient(to right, $ccelestito , $clogo-bordo, $clogo-rojo);
        background-size: 300%;
        background-position: right;
        color: $cplata;
    }
    &:active {
        transform: translate(10px);
    }
}


@mixin artimagen($donde) {
    background: linear-gradient(rgba(238, 240, 243, 0.7), rgba(235, 236, 238, 0.5)), $donde, no-repeat center;
    background-size: cover;
}