.header {
    border-bottom: 1vh $cplata solid;
    padding-top: 1vh;
    grid-area: nav;
    min-height: 110px;
    .nav {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        &__logo {
            display: flex;
            flex-direction: column;
            & a {
                align-self: center;
            }
             img {
                height: 5.5vw;
                width: auto;
                &:hover {
                    transform: scale(120%);
                }
            }
            & h1 {
                font-size: 1.1vw;
                font-family: "Hind Madurai", sans-serif;
                width: max-content;        
            }
        }

        &__desktop {
            display: flex;
            & li {
                list-style: none;
                margin: 0 1.3em;
                font-size: 2vw;
                position: relative;
                font-family: 'Roboto', sans-serif;
                &::before {
                    content: "";
                    height: 2px;
                    width: 0%;
                    background-image: linear-gradient(to right,rgb(143, 5, 5), rgb(255, 3, 3));
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    transition: 0.8s ease-out;
                }
                &:hover::before {
                    width: 100%;
                }
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}



.boton-contactar {
    @include botero (12vw, $ccelestito, 4.2vh);
}

.hamburguesa {
    display: none;
    position: relative;
    z-index: 999;
    &:hover > ul {
        display: block;
    }
    img {
        width: 4vh;
        height: 4vh;
    }
    ul {
        display: none;        
        position: absolute;
        right: 0;
        top: 8vh;
        width: 50vw;
        border-radius: 10px;
        background-image: linear-gradient(to right, $clogo-bordo, $clogo-intermedio , $clogo-rojo);
        li {
            padding: 25px 0;
            text-align: center;
            list-style: none;
            a {
                color: $cblanco;
                font-weight: bold;
                font-size: 150%;
            }
            &:nth-child(even) {
                background-color: lighten($clogo-bordo, 3%);
            }
        }
    }
}