

.section_one {
    &__div {
        display: flex;
        border-bottom: 8px $cplata solid;
        position: relative;
    }
    &__img {
        width: 100%;
        position: relative;
        background-size: cover;
        transition: background-position 4s;
        z-index: 3;
        &:hover {
            background-image: url("../img/nuevos_posibles_fondos/logo_fondo_flecha.png");
            background-position-x: 24vw;
            z-index: 4;
        }
    }
    &__h2 {
        position: absolute;
        top: 25%;
        left: 9%;
        font-size: 3vw;
        font-family: "Hind Madurai", sans-serif;
        z-index: 9;
        transition: text-shadow 2s;
        &:hover {
            text-shadow: .5rem -.5rem .3rem $clogo-rojo;
        }
    }
}
/* AQUI TERMINA SECTION ONE */

/* AQUI EMPIEZA SECTION TWO */

.section_two {
    background: linear-gradient(95deg,$ccelestito,$cgrisin);
    padding-bottom: 5em;
    &__div_one {
        display: flex;
        height: 20vw;
        align-items: center;
        &--h2 {
            font-size: 4em;
            background: linear-gradient(to right, $cnegro, $clogo-bordo, $clogo-intermedio, $clogo-rojo);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 10%;
            left: 10%;
            font-family: 'Roboto', sans-serif;
        }
    }
    &__div_two {
        width: 90%;
        margin: auto;
        display: flex;
        border-top: 1vw solid;
        padding-top: 2em;
        justify-content: space-around;
        font-size: 3.5vw;
        list-style-type: none;

        &--subul {
            font-size: .4em;
            margin-top: 2em;
            line-height: 2;
            list-style-type: disc;
            li::marker {
                color: $clogo-rojo;
                font-size: 150%;
            }
        }
    }
}

        ol li::marker {
             color: transparent;
        }



.botondos {
    display: flex;
    justify-content: center;
    align-items: end;

}

.boton-contactar2 {
    @include botero (50vw, $cplata, 4.8vh);
    color: $cblanco;
    text-shadow: .1rem -.1rem .1rem  $cnegro;
}

