.main-nosotros {
    background-color: $clogo-bordo;
}

.section-nosotros {
    display: flex;
    margin-bottom: 10px;

    img {
        position: relative;
        width: 100%;
        opacity: 30%;
    }

    div {
        position: absolute;
        text-align: center;
        margin: 20% 20%;
        font-size: rem;
        color: $cnegro;
        text-shadow: .05rem -.05rem  $cblanco;
        display: grid;
        gap: 3rem;

        h1 {
            font-size: 5vw;
            box-shadow: .05rem -.05rem  $cplata;
            border-radius: 15px;
        }

        h2 {
            font-size: 3.5vw;
            border-bottom: 4px solid;
            border-radius: 15px;
            box-shadow: .05rem -.05rem  $cplata;
        }
    }
}

/* AQUI TERMINA NOSOTROS SECTION 1 */

/* AQUI EMPIEZA NOSOTROS SECTION 2 */

.section-nosotros-dos {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $clogo-bordo;
    text-shadow: .1rem -.1rem  $cnegro;

    img {
        max-width: 50%;
    }

    div {
        margin: 25% 3%;    
        font-size: 2vw;
        box-shadow: .05rem -.05rem  $cplata;
        text-shadow: .1rem -.1rem  $cnegro;
        color: $cblanco;
    }
}