.main-nosotros {
    background: linear-gradient(95deg,$ccelestito,$ccelestito,$cgrisin);
    min-height: 65vh;
}

// Falta agregar las secciones correspondientes a las nuevas alianzas

.section-nosotros {
    display: flex;
    padding-bottom: 1.2vh;

    img {
        position: relative;
        width: 100%;
        opacity: 30%;
    }

    div {
        position: absolute;
        text-align: center;
        margin: 20% 20%;
        font-size: rem;
        color: $cnegro;
        text-shadow: .05rem -.05rem  $cblanco;
        display: grid;
        gap: 3rem;

        h1 {
            font-size: 6vw;
            box-shadow: .05rem -.05rem  $cplata;
            border-radius: 15px;
        }

        h2 {
            font-size: 4vw;
            border-bottom: 4px solid;
            border-radius: 15px;
            box-shadow: .05rem -.05rem  $cplata;
        }
    }
}

/* AQUI TERMINA NOSOTROS SECTION 1 */

/* AQUI EMPIEZA NOSOTROS SECTION 2 */

.section-nosotros-dos {
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(110deg,$ccelestito,$ccelestito,$cgrisin,$clogo-intermedio,$clogo-bordo,$clogo-rojo);
    // background-color: $clogo-bordo;
    text-shadow: .1rem -.1rem  $cnegro;
    padding: 1.2vh;

    img {
        max-width: 50%;
        opacity: 85%;
    }

    div {
        margin: 25% 3%;    
        font-size: 3vw;
        box-shadow: .05rem -.05rem  $cplata;
        text-shadow: .1rem -.1rem  $cnegro;
        color: $cblanco;
    }
}