


.section-porque-uno {
    display: grid;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin-top: 30px;
    font-size: 130%;
   
    h1 {
        max-width: 90%;
        margin: auto;
        text-align: center;
        text-decoration: underline;
    }

    img {
        display: inline-block;
        margin: auto;
    }
}


/* AQUI TERMINA SECTION 1 */

/* AQUI EMPIEZA SECTION 2 */

.section-5-art {
    margin: 60px auto;
    display: grid;
    gap: 2rem;
    text-shadow: .5px -.5px .0001rem $cblanco;
    max-width: 90%;
    font-size: 2vh;
    h2 {
        text-decoration: underline;
    }
    &--1 {
        @include artimagen (url(../img/por_que/porque4.jpg))
    }
    &--2 {
        background-color: $cgrisin;
    }
    &--3 {
        @include artimagen (url(../img/por_que/porque22.jpg))
    }
    &--4 {
        background-color: $cgrisin;
    }
    &--5 {
        @include artimagen (url(../img/por_que/apalancamiento12.jpg))
    }
}
.articulos {
    padding: 15px;
    border-radius: 15px;
}
