
.main-precios {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ccelestito;
    padding: 5%;
        section {
        background: $cnaranja;
        font-family: 'Roboto', sans-serif;
        width: 30vw;
        margin: 1vw;
        color: $cgrisin;
        .primer-li span {
            display: block;
            font-size: 5vw;
        }
        ul li {
            list-style-type: none;
            text-align: center;
            border-bottom: 1px solid black;
            padding: 10px;
            font-size: 2.3vw;
            a {
                text-decoration: none;
                color: $cnegro;
                background: $cblanco;
                font-size: 2.7vw;
                text-transform: uppercase;
                display: block;
                padding: 1vh;
                border-radius: 20px;
                transition: background-color .3s, color .3s, font-size 1s;
                &:hover {
                    background-color: $cplata;
                    color: white;
                    font-size: 120%;
                }
            }
        }

    }
}